* {
  box-sizing: border-box;
  margin: 0;
}
//********************************************
//! Variable Declaration
//********************************************

$bgColor: pink;
$fontColor: white;
$fontSize: 1.2rem;
$fontFamily: 'tahoma';
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(175, 29, 29);
$myLinkSize: 19px;
$sliderBgColor: #cc6699;
//********************************************
//! Variable Usage
//********************************************
body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

//********************************************
//! NESTING
//********************************************
.container {
  padding: 0 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: $navBgColor;
  .brand {
    img {
      width: 80px;
      border: $myBorder;
      border-radius: 30%;
      padding: 10px;
      margin: 10px;
    }
  }
  .navbar {
    margin: 10px;
    ul {
      list-style-type: none;
      display: flex;
      li {
        a {
          text-decoration: none;
          padding: 5px;
          color: black;
          font-size: $myLinkSize;
        }
        input {
          width: 60px;
        }
      }
    }
  }
}

//? SLIDER
//?----------------------------------------
.slider {
  display: flex;
  justify-content: space-evenly;
  background-color: $sliderBgColor;
  .left {
    margin-top: 20px;
    button {
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      background-color: $navBgColor;
      font-size: $myLinkSize;
      border: 2px solid gray;
      &:hover {
        background-color: pink;
        border: 2px solid pink;
      }
    }
  }
  img {
    width: 30%;
  }
}

//*********************************************
//! @MIXIN
//*********************************************
@mixin myBox($bgColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
  width: 25%;
  height: 200px;
  border: $myBorder;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.content {
  .cards {
    display: flex;
    .card1 {
      @include myBox(brown, white);
    }
    .card2 {
      @include myBox(rgb(199, 255, 192), blue);
    }
    .card3 {
      @include myBox(blue, gray);
    }
    .card4 {
      @include myBox(green, black);
    }
  }
}

//**************************************************
//! @EXTEND
//**************************************************

article {
  display: flex;
  .article1 {
    width: 50%;
    height: 200px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
    margin: 2px;
  }
  .article2 {
    @extend .article1;
    background-color: purple;
  }
}

//********************************************
//! FOR LOOP
//**********************************************

.socialBoxes {
  display: flex;
  @for $i from 1 through 5 {
    .social#{$i} {
      width: 20%;
      height: 100px;
      background-color: lighten(rgb(17, 16, 16), ($i * 10));
    }
  }
}

//***********************************************
//! ARRAY
//***********************************************
$textColor: #990000, #55004e, #0fa8a1, #121456, #64c217;
@for $i from 1 through length($textColor) {
  .social#{$i} {
    color: nth($textColor, $i);
    font-size: $i * 1rem;
    font-weight: 600;
  }
}

//***********************************************
//! EACH LOOP
//***********************************************

$themeColors: (
  pink: rgb(196, 140, 149),
  red: rgb(235, 16, 16),
  orange: rgb(228, 154, 18),
);

@each $i, $color in $themeColors {
  body {
    &.#{$i} {
      background-color: $color;
    }
  }
}

//***********************************************
//! IF-ELSE
//************************************************

$dark: 3;

.footer {
  @if $dark==1 {
    background-color: white;
  } @else if $dark==2 {
    background-color: gray;
  } @else {
    background-color: green;
  }
}
