body {
  color: black;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: red;
  color: aliceblue;
  padding: 40px;
}

nav {
  background-color: rgb(7, 172, 172);
  padding: 20px;
}

nav a {
  text-decoration: none;
}

footer {
  background-color: black;
  color: aliceblue;
  padding: 20px;
}
