@import '22-variable.css';

* {
  font-family: sans-serif;
}
.header {
  text-decoration: overline; /* underline,line-through */
  text-decoration-thickness: 0.1rem;
}

a {
  text-decoration: none;
  color: yellowgreen;
}
/* Ziyaret edilmmemiş linkler*/
a:link {
  color: yellowgreen;
}

/* Ziyaret edilmiş linkler*/
a:visited {
  color: yellowgreen;
}

a:hover {
  color: crimson;
}

.par {
  text-align: left;
  letter-spacing: 0.4rem;
  word-spacing: 1rem;
  line-height: 2rem;
}

.menu a:hover {
  color: turquoise;
  background-color: wheat;
}
.tatlı {
  /* list-style-type: '❤️'; */
  /* list-style-image: url('../img/arrow-right-long-solid.svg'); */
  list-style-type: square;
  list-style-position: inside;
}
