*{
    font-family: "Helvetica Neue",Helvetica;
}

/**Yatay Menu Kodlari*/

nav.yatay-menu ul{
list-style-type: none;

}
nav.yatay-menu ul li{
    text-align: center;
    display: inline-block;
    margin-right: 1rem;
    
   

}
nav.yatay-menu ul li a{
    text-decoration: none;
     background-color:lightgray;
    padding: 1rem;
    
}

nav.yatay-menu ul a:hover{

    background-color: rgb(111, 111, 207);
    color: white;
    
}

/*******Acilir Menu Kodlari****************/

nav.acilir-menu{
    width: 3rem;
}
nav.acilir-menu .menu-ul {
    display: none;
}
nav.acilir-menu:hover ul{
    display: block;
}