.container{
    margin: 1rem;
    
}
.msg{
margin: 1rem;
    padding: 0.3rem;
}
    .msg1{
    border: 2px solid blue;
    
}
.msg2{
    border: 2px dotted tomato;

}
.msg3{
    border-left: 2px solid green;
    border-right: 2px solid lightgreen;

}
.msg4{
    border: 2px solid lightblue;
    border-radius: 10px;
    

}
.msg5{
    background-image: linear-gradient(white,green);
    border: 2px solid black;
    border-radius: 10px;
    

}
.msg6{
    background-image: linear-gradient(white,green);
    border: 2px solid black;
    border-radius: 10px;
    

}