* {
  box-sizing: border-box;
  margin: 0;
}
//********************************************
//! Variable Declaration
//********************************************

$bgColor: pink;
$fontColor: white;
$fontSize: 1.2rem;
$fontFamily: 'tahoma';
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(175, 29, 29);
$myLinkSize: 19px;
$sliderBgColor: #cc6699;
//********************************************
//! Variable Usage
//********************************************
body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

//********************************************
//! NESTING
//********************************************
.container {
  padding: 0 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: $navBgColor;
  .brand {
    img {
      width: 80px;
      border: $myBorder;
      border-radius: 30%;
      padding: 10px;
      margin: 10px;
    }
  }
  .navbar {
    margin: 10px;
    ul {
      list-style-type: none;
      display: flex;
      li {
        a {
          text-decoration: none;
          padding: 5px;
          color: black;
          font-size: $myLinkSize;
        }
        input {
          width: 60px;
        }
      }
    }
  }
}

//? SLIDER
//?----------------------------------------
.slider {
  display: flex;
  justify-content: space-evenly;
  background-color: $sliderBgColor;
  .left {
    margin-top: 20px;
    button {
      border: none;
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      background-color: $navBgColor;
      font-size: $myLinkSize;
      border: 2px solid gray;
    }
  }
  img {
    width: 30%;
  }
}